{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="style/authentication.css">
<style>
    /* Magic to remove the sidebar to center the content */
    
    #main-wrapper {
        grid-template-columns: 0fr 3fr;
    }
</style>
{% endblock %} {% block script %}
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %} {% block content %}
<form id="login-form" action="/forgotpassword" method="POST">
    <label>Email:</label>
    <input type="text" name="email" value="" placeholder="Email" />
    <button type="submit">Send Email</button>
</form>
{% endblock %}