{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="style/index.css">
<script type="module" src="src/index.js" type="text/javascript" defer></script>
{% endblock %} {% block sidebar %}
<div id="sidebar-content">
    <div id="sidebar-subtitle">Item Type:</div>
    <div id="item-categories">
        <input name="category" id="armors" type="radio" value="Armors" onclick="changeCategory(this.value);" autocomplete="off">
        <label for="armors">Armors</label><br>
        <input name="category" id="consumables" type="radio" value="Consumables" onclick="changeCategory(this.value);" autocomplete="off">
        <label for="consumables">Consumables</label><br>
        <input name="category" id="cosmetics" type="radio" value="Cosmetics" onclick="changeCategory(this.value);" autocomplete="off">
        <label for="cosmetics">Cosmetics</label><br>
        <input name="category" id="weapons" type="radio" value="Weapons" onclick="changeCategory(this.value);" checked autocomplete="off">
        <label for="weapons">Weapons</label>
    </div>
    <hr>
    <input type="checkbox" onclick="toggleOnlineSellersOnly();" id="toggleOnlineSellersOnly" autocomplete="off">
    <label for="toggleOnlineSellersOnly">Online Sellers Only</label>
    <hr>
</div>
{% endblock %} {% block content %}
<div id="item-browser">
    <div id="menu-container">
        <div id="menu-search-bar">
            <input type="search" name="search" id="search-input" placeholder="Search..." autocomplete="off" onchange="searchItem(this.value)">
            <div id="search-button-container"><button id="submit-search-button"><img src="assets/searchButton.png" alt=""></button></div>
        </div>
        <select id="order-selector" onchange="changeSortingOrder(this.value)" autocomplete="off">
            <optgroup label="Price">
                <option>Low to High</option>
                <option>High to Low</option>
            </optgroup>
            <optgroup label="Date">
                <option>Newest First</option>
                <option>Oldest First</option>
            </optgroup>
        </select>
    </div>
    <div id="items-list"></div>
</div>
{% endblock %}