{% extends "layout.html" %}
{% block content %}
<div id="item-browser">
    <div id="menu-container">
        <div id="menu-search-bar">
            <input type="search" name="search" id="search-input" placeholder="Search..." autocomplete="off">
            <button id="submit-search-button"><img src="assets/searchButton.png" alt=""></button>
        </div>
        <button id="cart-button"><img src="assets/shoppingCart.png" alt="" height="32px">Cart</button>
        <div id="item-categories">
            <button>Armors</button>
            <button>Consumables</button>
            <button>Cosmetics</button>
            <button>Weapons</button>
        </div>
    </div>
    <div id="items-list">
        <div id="item-sort-menu">
            <span>Item</span>
            <span>Seller</span>
            <span>Category</span>
            <span>Price</span>
        </div>
        <div id="item-card">
            <div id="item-preview">
                <span id="item-name">The Tenderizer</span>
                <img src="https://play.retro-mmo.com/res/images/items/theTenderizer.png" alt="">
            </div>
            <span id="seller-name">JumpyLion</span>
            <span id="category-name">Weapons</span>
            <span id="price-number">20,000g</span>
        </div>
    </div>
</div>
{% endblock %}