<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://play.retro-mmo.com/res/images/badges/subscriber.png" type="image/x-icon">
    <link rel="stylesheet" href="style/style.css">
    <title>RetroMMarket</title>
    {% block css %}{% endblock %} {% block script %}{% endblock %}
</head>

<div id="main-wrapper">
    <header id="main-header">
        <a href="/">RetroMMarket</a>
        <div id="navbar">
            <ul>
                {% if loggedIn %}
                <li><a href="/">Browse</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/orders">Your Orders</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div id="main-sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>
    <footer id="main-footer">
        <div>Made by JumpyLion and CornerLord</div>
        <div>View the source code on <a href="https://github.com/JumpyLionnn/RetroMMarket">GitHub</a></div>
        <div>Play RetroMMO <a href="https://play.retro-mmo.com/">here</a></div>
    </footer>
</div>