<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://play.retro-mmo.com/res/images/badges/subscriber.png" type="image/x-icon">
    <link rel="stylesheet" href="style/style.css">
    <title>RetroMMarket</title>
    <script defer type="text/javascript" src="src/index.js"></script>
    {% block css %}{% endblock %}
</head>

<div id="main-browse-layout-space-div"></div>
<div id="main-browse-layout-div">
    <h1 id="title">RetroMMarket</h1>
    <div id="main-features-div">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="main-browse-sorting-layout-div"></div>
<div id="main-browse-layout-half-space-div"></div>