{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="style/authentication.css">
{% endblock %}
{% block script %}
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}

{% block content %}
<form id="login-form" action="/login" method="POST">
    <label>Email:</label>
    <input type="text" name="email" value="" placeholder="Email" />
    <label>Password:</label>
    <input type="password" name="password" value="" placeholder="Passsword" />
    <span id="error-message">{{ errorMessage }}</span>
    <button type="submit">Login</button>
</form>
<a href="/register">Click here to create an account!</a>
{% endblock %} 

