{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="style/orders.css">
<style>
    /* Magic to remove the sidebar to center the content */
    
    #main-wrapper {
        grid-template-columns: 0fr 3fr;
    }
</style>
<script src="src/orders.js" type="module" defer></script>
{% endblock %} {% block content %}
<div id="orders-wrapper">
    <div id="buying-list">
        <div>Buy orders ({{ ordersAmount }}/{{ orderLimit }}):</div>
        <table></table>
    </div>
    <div id="selling-list">
        <div>Sell offers ({{ offersAmount }}/{{ offerLimit }}):</div>
        <table></table>
    </div>
</div>
{% endblock %}