{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="style/authentication.css">
{% endblock %}
{% block content %}
<form id="login-form" action="/register">
    <label>RetroMMO Username:</label>
    <input type="text" name="username" value="" placeholder="RetroMMO Username"/>
    <label>Email:</label>
    <input type="text" name="email" value="" placeholder="email"/>
    <label>Password:</label>
    <input type="password" name="password" value="" placeholder="passsword"/>
    <label>Discord (name#number)</label>
    <input type="text" name="discord" value="" placeholder="discord#0000"/>
    <label>Invitation Code:</label>
    <input type="text" name="invitation-code" value="" placeholder="Invitation Code"/>
    <button type="submit">Register</button>
</form>
{% endblock %}