{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="style/authentication.css">
<style>
    /* Magic to remove the sidebar to center the content */
    
    #main-wrapper {
        grid-template-columns: 0fr 3fr;
    }
</style>
{% endblock %} {% block script %}
<script src="src/resetPassword.js" type="module" defer></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %} {% block content %}
<form id="reset-password-form" action="/resetpassword" method="POST">
    <input type="hidden" name="token" id="token">
    <label>Password:</label>
    <input type="password" name="password" value="" placeholder="Passsword" id="password" />
    <span id="error-message">{{ errorMessage }}</span>
    <button type="submit">Submit</button>
</form>
{% endblock %}