#login-form {
    width: 100%;
}

#login-form>*,
#forgot-password-link>*,
#reset-password-form>* {
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-bottom: 0.5em;
    padding: 0.25em;
    font-size: 1.5em;
}

#login-form>button,
#forgot-password-link>button,
#reset-password-form>button {
    box-sizing: content-box;
}

#login-form>label,
#forgot-password-link>label,
#reset-password-form>label {
    margin-bottom: 0;
    padding-left: 0;
}

#register-link,
#forgot-password-link,
#reset-password-form {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

#error-message {
    color: red;
}