h2 {
    font-size: 3em;
    text-align: center;
}

#account-settings-wrapper {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#account-setting {
    display: flex;
}

#account-setting-label {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

#account-stats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    margin-bottom: 3em;
}

#account-details-wrapper {
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {}

.edit-input {
    float: left;
    border-radius: 5px 0 0 5px;
    height: 2em;
    font-size: 1em;
    width: 80%;
}

.edit-button {
    float: left;
    border-radius: 0 5px 5px 0;
    font-size: 1em;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    background-origin: content-box;
    padding: .2em;
    cursor: pointer;
}

@media (max-width: 700px) {
    #account-stats-wrapper {
        margin-bottom: 1em;
    }
    #account-details-wrapper {
        grid-template-columns: 1fr;
    }
    #account-details-wrapper * {
        margin: 0 auto;
    }
    .edit-input,
    .edit-button {
        width: 100%;
        border-radius: 5px;
        background-size: contain;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4ee233;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4ee233;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}