h2 {
    font-size: 3em;
    text-align: center;
}

#account-stats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    margin-bottom: 3em;
}

#account-details-wrapper {
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {}

.edit-input {
    float: left;
    border-radius: 5px 0 0 5px;
    height: 2em;
    font-size: 1em;
    width: 80%;
}

.edit-button {
    float: left;
    border-radius: 0 5px 5px 0;
    font-size: 1em;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    background-origin: content-box;
    padding: .2em;
    cursor: pointer;
}

@media (max-width: 700px) {
    #account-stats-wrapper {
        margin-bottom: 1em;
    }
    #account-details-wrapper {
        grid-template-columns: 1fr;
    }
    #account-details-wrapper * {
        margin: 0 auto;
    }
    .edit-input,
    .edit-button {
        width: 100%;
        border-radius: 5px;
        background-size: contain;
    }
}