@font-face {
    font-family: RetroPixels;
    src: url(../assets/RetroPixels.ttf);
}

* {
    font-family: RetroPixels;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    max-width: 100%;
}


/* Main layout */

#main-wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: "header" "sidebar" "content" "footer";
    margin: 0 auto;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    grid-area: header;
    margin-top: 20px;
}

#main-header a {
    font-size: 3em;
    text-decoration: none;
    color: black;
}

#navbar ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
}

#navbar li {
    float: left;
    margin-left: 1em;
}

#navbar li:first-child {
    margin-left: 0;
}

#navbar li a {
    font-size: 1.5em;
    display: block;
}

#main-sidebar {
    grid-area: sidebar;
    margin: 0 5%;
}

#main-content {
    grid-area: content;
    min-height: 80vh;
}

#main-footer {
    grid-area: footer;
    text-align: center;
    min-height: 60px;
    padding-top: 10px;
}


/* alert */

#alert-container {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-card {
    width: 100%;
    height: 50%;
    border-radius: 1em;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#alert-header {
    margin: .5em;
    display: flex;
    justify-content: space-between;
}

#alert-title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#alert-close-button {
    background-color: transparent;
    border: none;
    font-size: 2.3em;
    padding: 0;
    height: fit-content;
    text-align: center;
    cursor: pointer;
}

#alert-close-button:hover {
    color: red;
}

#alert-message {
    text-align: center;
    font-size: 1.5em;
}

#alert-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

#alert-buttons button {
    font-size: 2em;
    padding: .2em .8em;
    cursor: pointer;
}

#ok-button {
    font-size: 2em;
    padding: .2em .8em;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1em;
}

@media (max-width: 900px) {
    #main-wrapper {
        grid-template-columns: none !important;
    }
}

@media (min-width: 900px) {
    #main-wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "header header" "sidebar content" "footer footer";
        width: 90%;
    }
    #main-header {
        flex-flow: row;
        justify-content: space-between;
    }
    #alert-card {
        width: 50%;
        height: 30%;
    }
}

@media (min-width: 1200px) {
    #main-wrapper {
        width: 70%;
    }
    #alert-card {
        width: 30%;
        height: 25%;
    }
}